
h1{
    margin-bottom:80px;
}
.error {
    display: none;
    margin-left: 10px;
}
.pas{
    display:inline-block;
}

.error_show {
    color: red;
    opacity: 0.6;
    margin-left: 10px;
    font-style: italic;
    margin-top: 2px;
    display: block;
}

input.invalid, textarea.invalid {
    border: 3px solid red;
}

input.valid, textarea.valid {
    border: 3px solid green;
}
input{
    border-radius:5px;
}

.label{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:20px;
}
