@{
    ViewBag.Title = "Home Page";

}
<div class="homepage">
    <h1 style="color:white">
        Welcome to MS Shop <h1>
            <h3 style="color:white"> Here you can find all sports product you need !</h3>

        
</div>
