@model IEnumerable<WebApplication1.Models.Product>
@using WebApplication1.Models;
@using WebApplication1.Dabis;

@{
    ViewBag.Title = "Shop";
    User user = Session["User"] as User;
    Bank1SoapClient bank = new Bank1SoapClient();
}

<div class="jumbotron">
    <h2> Welcome to MS Shop </h2>
        <a href="http://dabisbank.gearhostpreview.com/" target="_blank">If you dont have a bank acount, Please Create Your Bank Account Now!</a>
</div>

<div>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-3 ">
                <div class="thumbnail centerThumb" style="height:380px; width:280px;margin-bottom:15px">
                    <div style="height:130px; ">
                        <a href="@Url.Action("Details", "Items", new { id = item.id})" style="float:none; margin: 0 auto;">
                            <img src="~/images/@item.ImgUrl" alt="thmbnail" width="255" height="135" class="img-rounded centerThumb">
                        </a>
                    </div>
                    <div class="caption">
                        <h3>@Html.DisplayFor(modelItem => item.name)</h3>
                        <div class="row">
                            <div class="col-md-2 col-xs-2">
                                @if (user != null)
                                {
                                    <a href="@Url.Action("AddToCart", "Shop", new { id = item.id })" class="btn btn-primary" role="button">Add to Cart</a>
                                }
                            </div>
                            <div class="col-md-5" style="margin-left:40%">
                                @Html.DisplayFor(modelItem => item.price)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>











